@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');

:root {
  --font-Raleway: 'Montserrat', sans-serif;
  --font-Sarpanch: 'Roboto', sans-serif;
  --font-logo: 'Dancing Script', cursive;
  --deep-green: #45a049;
  --font-text: 'Satoshi', sans-serif;
  --font-semi-header: 'Clash Display', sans-serif;
  --black-text: #212529;
  --grey-text: #a1a1a1;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Sarpanch);
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey-text);
  font-family: var(--font-Raleway);
  background-color: #efefef;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

/* RE-USEABLES */

.container-flex {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding-left: 5rem;
}

.deep-green {
  color: var(--deep-green);
}

.container {
  width: 100%;
  padding: 3rem 10rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: var(--black-text); */
  font-family: var(--font-Raleway);
  max-width: 2049px !important;
}

/* header */
.myHeaderSwiper {
  height: 90vh !important;
  overflow: hidden;
  background: linear-gradient(to right, white, #acf181);
}

.swiper-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swiper-content-left {
  flex: 2;
}

.swiper-content-left h1 {
  font-size: 50px;
  line-height: 1.2;
  font-family: var(--font-semi-header);
  font-weight: bold;
}

.swiper-content-left p {
  font-family: var(--font-text);
  font-weight: bold !important;
}

.swiper-content-right {
  flex: 1;
}

.swiper-content img {
  width: auto !important;
  height: auto;
}

.header-btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.register-btn {
  border: 1px solid var(--black-text);
  background-color: transparent;
  padding: 10px 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.login-btn {
  color: white;
  background-color: var(--black-text);
  padding: 10px 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.login-btn:hover,
.register-btn:hover {
  transform: translateY(-3px);
}

.login-btn a,
.register-btn a {
  text-decoration: none;
  color: inherit;
}

/* SWIPER */
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensure the content doesn't overflow */
}

.swiper-slide {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #71f471;
  border-radius: 50%;
  margin: 0 4px;
  opacity: 0.8;
  transition: background-color 0.3s ease; /* Add a smooth transition effect to the pagination bullets */
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5ac25a;
}

@media screen and (max-width: 767px) {
  .img-network {
    width: 100%;
    height: auto;
  }
}

.swiper-content-right {
}

@media screen and (max-width: 479px) {
  .img-network {
    width: 100%;
    height: auto;
  }
}

/* Optional: Adjust the style of the partner logos */
.network-wrapper {
  padding: 20px;
}
/* ABOUT US  */

.about-us {
  text-align: center;
  padding: 40px 0;
}

.about-us-text {
  width: 70%;
  margin: 0 auto;
}

.about-us h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: var(--font-semi-header);
  color: var(--deep-green);
}

.about-us p {
  font-size: 16px;
  font-family: var(--font-text);
  color: var(--grey-text);
  margin-bottom: 40px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content > div {
  flex-basis: 45%;
  text-align: left;
}

.content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--deep-green);
  font-weight: bold;
}

.content p {
  font-size: 16px;
  font-family: var(--font-text);
  color: var(--grey-text);
  margin-bottom: 20px;
}

.content ul {
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 20px;
}

.content ul li::before {
  content: '\2022';
  color: var(--deep-green);
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
}

.content ul li {
  font-size: 16px;
  font-family: var(--font-text);
  color: var(--grey-text);
}

.about-us-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 3px solid var(--deep-green);
}

/* Style for the why-choose-us section */

.why-choose-us-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why-choose-us {
  text-align: center;
  padding: 40px 0;
}

.why-choose-us h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.why-choose-us p {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

.features article {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.features article h3 {
  font-size: 20px;
  color: var(--deep-green);
  font-weight: bold;
  margin-bottom: 10px;
}

.features article p {
  font-size: 16px;
  color: var(--grey-text);
  font-family: var(--font-text);
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* SERVICES */

.services-icon {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}

.pink {
  background: #ed6ba6;
}

.lime {
  background-color: #aecd5e;
}

.blue {
  background: #4c7fbd;
}

.orange {
  background: #ea6b45;
}

.grey {
  background-color: #cccccc;
}

.green {
  background-color: #c3c3df;
}

.services-text {
  text-align: center;
  font-family: var(--font-text);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; /* Increased gap for better visual separation */
  margin: 3rem 0;
}

.services li {
  list-style: none;
  background-color: #fff; /* Add a background color for better contrast */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Add padding for better spacing */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.services li:hover {
  transform: translateY(-5px); /* Lift the card on hover */
}

.services img {
  max-width: 100%;
  height: auto;
}

.services h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--deep-green);
}

.services p {
  margin-top: 0.5rem;
  color: #888;
}

/* Statistics Section */

.img-network {
  width: 100%;
  height: auto;
  /* height: 200px; */
  /* height: 100px !important; */
  margin: 10px;
  aspect-ratio: 1/1;
}

.img-network img {
  width: 100%;
  height: 100%;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.statistics li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px; /* Add padding for better spacing */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.statistics li:hover {
  transform: translateY(-3px); /* Lift the card on hover */
}

.statistics p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}

.statistics .faq-title {
  font-size: 2rem;
  color: var(--grey-text);
  font-family: var(--font-semi-header);
}

.satistics-title {
  font-family: var(--font-Sarpanch);
  color: var(--deep-green) !important;
  font-weight: bold !important;
}

/* NETWORK PROVIDERS  */

.network-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px; /* Added max-width for responsiveness */
  margin: 0 auto; /* Center align the container */
  padding-bottom: 2rem;
}

.network-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.network {
  text-align: center;
  margin-bottom: 20px;
  /* flex-basis: calc(50% - 1rem);  */
}

.data-plans {
  margin-top: 20px;
  width: 100%;
}

.network-image {
  margin: 2rem 0;
}

.price-container h2,
.faq-title,
.download-title,
.contact-title h2 {
  font-size: 38px;
  line-height: 48px;
  color: var(--deep-green);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.price-container p {
  font-size: 20px;
  color: var(--grey-text);
  text-align: center;
}

.price-container h2 {
  text-align: center;
  font-family: var(--font-semi-header);
}

.price-container h6 {
  font-family: var(--font-text);
}

.data-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-family: var(--font-text);
}

.data-plan div:first-child {
  font-weight: 500;
}

.data-plan div:last-child {
  color: #71f471;
  font-weight: 600;
}

.data-btn {
  margin-top: 1rem;
  border: none;
}

.data-btn a {
  text-decoration: none;
  color: #fff;
  background-color: #71f471;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.data-btn a:hover {
  background-color: #5ac25a;
}

/* FAQ */

.faq-description {
  text-align: center;
}

.faq-title {
  font-family: var(--font-semi-header);
  text-align: center;
}

.faq-question.active-question {
  color: #45a049;
}

.faq-section {
  padding: 40px;
}

.faq-description {
  font-size: 18px;
  color: var(--grey-text);
  margin-bottom: 40px;
  font-family: var(--font-text);
}

.faq-image {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 2rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.active .faq-answer {
  max-height: 1000px;
  color: var(--grey-text);
  font-family: var(--font-text);
}

.faq-question.active {
  color: var(--deep-green);
  /* font-family: var(--font-semi-header) ; */
}

.faq-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  aspect-ratio: 1/1;
}

.faq-content {
  display: flex;
  flex-direction: column;
}

.faq-item {
  border: 2px solid #43f943;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
  transition: max-height 0.3s ease;
  /* max-height: 0; */
  overflow: hidden;
}

.faq-question {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s ease;
}

.uil-plus,
.uil-minus {
  cursor: pointer;
}

.faq-answer ol {
  margin-left: 20px;
  margin-top: 10px;
}

.app-download {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-text);
}

.download-title {
  font-size: 28px;
  font-family: var(--font-semi-header);
}

.download-description {
  font-size: 16px;
  color: var(--grey-text);
  margin-bottom: 40px;
  max-width: 900px;
  width: 100%;
}

.app-link {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.app-link:hover {
  background-color: var(--deep-green);
}

.app-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

/* CONTACT SECTION */

.contact-title {
  margin-bottom: 1rem;
}

.contact-title h2 {
  font-family: var(--font-semi-header);
}

.contact-title p {
  font-family: var(--font-text);
  color: var(--grey-text);
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.contact-details article {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-details h3 {
  margin-bottom: 0.5rem;
  color: var(--deep-green);
  font-weight: bold;
}

.contact-details p,
.contact-details a {
  margin-bottom: 0;
  color: var(--grey-text);
}

.contact-details a {
  text-decoration: none;
}

/* FOOTER */
footer {
  padding-top: 2rem;
  /* background-color: #98fb98; */
  background: linear-gradient(to right, white, #acf181);
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: var(--black-text);
}

footer li {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: var(--font-text);
  font-weight: bold;
}

footer li a {
  transition: color 0.3s ease;
}

footer li a:hover {
  color: var(--grey-text); /* Update with your desired hover color */
  font-weight: 500;
}

.copyright {
  text-align: center;
  font-weight: bold;
  font-family: var(--font-text);
  color: var(--grey-text);
}

.section-container {
  width: 85%;
  margin: 0 auto;
}

.footer-logo,
.footer-link,
.footer-services {
  flex: 1;
}

footer h2 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: var(--font-semi-header);
  color: var(--deep-green);
}

.footer-logo h1 {
  /* font-family: var(--font-logo); */
  font-size: 2rem;
  color: var(--deep-green);
  font-weight: bolder;
}

.footer-logo p {
  font-family: var(--font-text);
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--black-text);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, white, #acf181);
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav .logo h1 {
  font-size: 2rem;
  /* color: #fff; */
  margin: 0;
  font-family: var(--font-Sarpanch);
}

.nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav .menu ul li {
  margin-right: 20px;
  line-height: 1.4;
  font-family: var(--font-text);
  font-weight: bold;
}

.nav .menu ul li:last-child {
  margin-right: 0;
}

.nav .menu ul li a {
  color: var(--black-text);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.3s ease; /* Adding a transition effect */
}

.nav .menu ul li a:hover,
.nav .menu ul li a.active {
  color: white !important;
  font-weight: 500;
}

.nav-active {
  color: white;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav .menu {
    margin-top: 10px;
  }

  .nav .menu ul {
    flex-wrap: wrap;
  }

  .nav .menu ul li {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* media queries */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 900px) {
  .download-description {
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
    width: 100px;
    flex: 1;
  }

  .faq-image img {
    max-width: 200%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: 100%; */
    /* aspect-ratio: 1/1; */
    flex: 1;
  }

  .faq-image {
    flex-direction: column;
  }

  .container {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mobile-nav {
    display: block;
    background: #00ff00;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#00ff00),
      to(#98fb98)
    );
    background: linear-gradient(to right, #00ff00, #98fb98);
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.3s ease-in-out;
  }

  .uil-bars,
  .uil-times {
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: white;
  }

  .uil-bars:hover,
  .uil-times:hover {
    transform: scale(1.1);
  }

  .mobile-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav-content h1 {
    color: white;
  }

  .nav {
    display: none;
  }

  .mobile-nav-menu {
    display: none;
  }

  .mobile-nav-menu ul {
    list-style: none;
    color: var(--black-text);
    font-weight: bold;
  }

  .mobile-nav-menu ul li a {
    text-decoration: none;
    color: inherit;
  }

  .mobile-nav-menu ul li {
    margin: 0.7rem 0;
    font-size: 20px;
  }

  .mobile-nav-menu ul li:hover {
    color: white;
  }

  .showNav {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .features-image {
    display: none;
  }

  .swiper-content {
    flex-direction: column;
  }

  .swiper-content-right {
    display: none;
  }

  .about-us-text {
    width: 100%;
  }

  .content > div {
    flex-basis: 100%;
  }

  .container-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
  }

  .container {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .faq-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    aspect-ratio: 1/1;
  }

  .faq-item {
    max-width: 100%;
  }

  .download-description {
    width: 100%;
  }

  .statistics {
    flex-direction: column;
  }

  .statistics li {
    margin-bottom: 20px;
  }

  .network-container {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .about-us-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    border: 3px solid var(--deep-green);
    border-top-left-radius: 300px;
  }

  .download-description {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 834px) {
  .container-flex {
    padding-left: 1rem;
  }
}
